<table class="invoices-table">
  <thead>
    <tr>
      <th class="invoices-table__header invoices-table__header--sortable">
        Client Name
      </th>
      <th class="invoices-table__header invoices-table__header--sortable">
        Amount
      </th>
      <th class="invoices-table__header invoices-table__header--sortable">
        Tax
      </th>
      <th class="invoices-table__header invoices-table__header--sortable">
        Total
      </th>
      <th class="invoices-table__header"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'invoice', collection: @invoices  %>
  </tbody>
</table>
<br />
<%# 
  this button is outside the table context
  therefore it has to be different
 %>
<%= link_to 'New invoice', new_invoice_path, class: 'p-button', title: 'New invoice' %>
